@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, textarea, select { font-family:inherit; }
body{
    background-color: #121212;
    font-family: 'Kalam', cursive;
}

input {
    width: 80%;
    margin-bottom: 20px;
    border: none;
    background-color: #424242;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}
.box{
    width: 1000px;
    height: 600px;
    margin: 2% auto;
    background-color: rgb(189, 64, 64);
    position: relative;
    display: none;
    
}
.info{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    pointer-events: none;
    opacity: 0.15;
    z-index: 0;
}
.playerOneNameContainer{
    display: none;
}
.playerTwoNameContainer{
    display: none;
}
.playerThreeNameContainer{
    display: none;
}
.playerFourNameContainer{
    display: none;
}
.ball{
    position: absolute;
    top: 300px;
    left: 500px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    z-index: 11;
}
.paddle{
    /* display: none; */
    position: absolute;
    left: 500px;
    top: 95%;
    width: 140px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.paddleTop{
    /* display: none; */
    position: absolute;
    left: 500px;
    top: 3%;
    width: 140px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.paddleLeft{
    /* display: none; */
    position: absolute;
    left: 2%;
    top: 300px;
    width: 20px;
    height: 140px;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.paddleRight{
    /* display: none; */
    position: absolute;
    left: 96%;
    top: 300px;
    width: 20px;
    height: 140px;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}

/* Selection */
.selection{
    display: none;
    width: 40%;
    margin: 2% auto;
    background: #2B2B2B;
    padding: 2% 0;
}
.selection p {
    background-color: #794bc4;
    color: white;
    width: 50%;
    margin: 2% auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 2% 3%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.selection p:hover{
    background-color: #663fa5;
}
.selection p:nth-child(2){
    margin-bottom: 5%;
}
.select{
    background: blueviolet !important;
}
.serverName{
    background: gray !important;
    cursor: default !important; 
}

/* Start game */
.buttonContainer{
    display: none;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: #794bc4;
    color: white;
    padding: .8% 1.5%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.buttonContainer:hover{
    background-color: #663fa5;
}
.disable{
    background: gray;
    cursor: default;
    pointer-events: none;
}

/* server */
.server{
    width: 40%;
    margin: 2% auto;
    border-radius: 10px;
    padding: 2% 0%;
    text-align: center;
    background: #2B2B2B;
}
.server p {
    color: white;
    width: 50%;
    margin: 2% auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 2% 3%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    background-color: #794bc4;
    border-radius: 10px;
}
.server p:hover{
    background-color: #663fa5;
}
.server input {
    width: 50%;
    padding: 2%;
    font-size: 20px;
    text-align: center;
}


.finishedInfo{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    left: 0;
    background: #808080a1;

}
.infoFinishView{
    position: absolute;
    border: 2px solid black;
    padding: 2%;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: black;
}
.restartBtn{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: rgba(65, 65, 255, 0.678);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid purple;
    cursor: pointer;
    padding: 2%;
}
.errorInput{
    border: 2px solid rgba(255, 0, 0, 0.616);
}